* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.container-nav {
  text-align: center;
  display: block; 
  background: #2e9db1;
  display: flex;
  justify-content: space-around;
  color: turquoise;
}

.w3-bar {
  padding: 0.8rem;
  font-weight: bold;
}

.container-nav .w3-bar:hover {
  background: #2fb6d8;

  border-top: 1px solid #2e9db1;
  color: white;
}

.fa,
.la {
  display: block;
  padding-bottom: 0.5rem;
}

.close {
  display: flex;
  justify-content: right;
  padding: 0.5rem;
  padding-right: 1rem;
}

.i {
  padding-bottom: 5rem;
}
* {
  box-sizing: border-box;
}

/* CAROUSEL START */
/* Slideshow*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.Containers {
  display: none;
}

.Back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: fit-content;
  margin-top: -23px;
  padding: 10px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* RIGHT BUTTON*/
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/* SLIDE BTNS */
.Back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: black;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}
/* CAROUSEL END */

.h5 {
  color: grey;
  margin-top: 2rem;
}

.h2 {
  color: red;
  margin-top: 1.8rem;
}

.mt {
  margin-top: 1.3rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.ml {
  margin-left: 2rem;
}

.df {
  display: inline-flex;
}

.hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: black;
  height: 1px;
  margin-bottom: 2.3rem;
  margin-top: 2rem;
}

.p {
  color: grey;
  font-size: 18px;
}

.pmr {
  margin-right: 1rem;
}

.holder {
  color: black;
  line-height: 40px;
  padding: 5px;
  width: 400px;
}

.drop {
  color: black;
  height: 50px;
  padding: 5px;
  width: 400px;
  margin-bottom: 3rem;
}

.chk {
  font-size: 15px;
  color: #2e9db1;
  font-weight: bolder;
  padding: 1rem;
}

.check .radio {
  margin: 1rem;
}

.btn-div {
  display: inline-block;
  text-align: center;
}

.btn {
  align-content: center;
  padding: 1rem;
  margin: 1rem;
  height: 50px;
  width: 200px;
  background-color: crimson;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.btn:hover {
  outline: #d1284a;
  background-color: #2e9db1;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  @media only screen and (max-width: 1200px) {
  
  }


@media only screen and (max-width: 1024px) {
  
}


@media only screen and (max-width: 960px) {
  
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 560px) {

}
}